* {
  margin: 0;
  padding: 0;
}

.logo, .navbar-item{
  color: white;
  letter-spacing: 3px;
  margin-left: 32px;
}

a{
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
  color: rgb(255, 255, 255);
}

.logo {
  font-size: 3vh;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #000000;
  height: 8vh;
}

main {
  background: url("bg.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
}

.nav-list {
  padding-top: 2vh;
  list-style: none;
  display: flex;
  font-size: 2vh;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

.drop-nav{
  font-size: 18px;
  position: absolute;
  border: 2px solid black;
  width: 15vw;
  background-color: #ffffff;
  color: #f88020;
}

.dropdown-item{
  color: black ;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
}
.dropdown-item:hover{
  background-color: white;
  font-size: 15px;
}

@media (max-width: 999px) {
  .nav-list {
    border: 2px solid rgb(77, 77, 77);
    border-right: 0;
    position: absolute;
    top: 8vh;
    right: 0;
    width: 100vw;
    height: 60vh;
    background: #000000;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    font-size: 3vh;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
